@page "/alldoctors"
@using Microsoft.Maui.Storage
@using System.IO
@using System.Text.Json
@using BlazorHybridApp2.Data
@using MySqlConnector
@using System.Collections.Generic
@using System.Threading.Tasks

<style>
    label {
        width: 200px;
        display: inline-block;
    }

    input {
        width: 200px;
    }

    .full-width {
        width: 100%;
    }
</style>

<h5>All Doctors</h5>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Specialty</th>
            <th>Room</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in doctors)
        {
            <tr>
                <td>@doctor.Id</td>
                <td>@doctor.Name</td>
                <td>@doctor.Gender</td>
                <td>@doctor.Specialty</td>
                <td>@doctor.Room</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Doctor> doctors;

    protected override async Task OnInitializedAsync()
    {
        doctors = new List<Doctor>();
        doctors = await LoadDoctorsFromDatabaseAsync();
    }

    private async Task<List<Doctor>> LoadDoctorsFromDatabaseAsync()
    {
        List<Doctor> doctors = new List<Doctor>();

        MySqlConnectionStringBuilder builder = new MySqlConnectionStringBuilder
            {
                Server = "localhost",
                UserID = "root",
                Password = "123123",
                Database = "hospitaldb",
            };

        using (MySqlConnection connection = new MySqlConnection(builder.ConnectionString))
        {
            await connection.OpenAsync();

            using (MySqlCommand command = new MySqlCommand("SELECT * FROM doctors", connection))
            using (MySqlDataReader reader = command.ExecuteReader())
            {
                while (reader.Read())
                {
                    doctors.Add(new Doctor
                        {
                            Id = reader.GetInt32("id"),
                            Name = reader.GetString("name"),
                            Gender = reader.GetString("gender"),
                            Specialty = reader.GetString("specialty"),
                            Room = reader.GetString("room")
                        });
                }
            }
        }

        return doctors;
    }
}